# Dependencies
node_modules

# Log files
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Local env files
.env

# Build Outputs
build
dist

# Miscellaneous
.tmp
.zed
.idea
*.tsbuildinfo
.cache
*.db

# Cache
.prettiercache
.eslintcache