# Environment
NODE_ENV=dev

# Server config
SERVER_PORT=8080

# Database
DATABASE_URL=postgresql://user:pass@host:port/db_name

# Secrets
WEBHOOK_SECRET=webhook-secret
ADMIN_SECRET=admin-secret
JWT_SECRET=jwt-secret

# Paths
MAIL_PATH=./mail
